*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #19172e;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before{
    content: '';
    position: absolute;
    top: 15%;
    right: 25%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(#01d6ff, #0f24f9);
}
section::after{
    content: '';
    position: absolute;
    bottom: 20%;
    left: 30%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(#01d6ff, #0f24f9);
    animation: animate 5s ease-in-out infinite;
}

.card {
    position: relative;
    width: 500px;
    height: 250px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    z-index: 1000;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}
.card .container{
    display: flex;
    justify-content: center;
    height: 100%;
}
.card .container h2{
    position: relative;
    top: 90px;
    left: 35px;
    font-size: 3em;
    font-weight: 100;
    color: #fff;  
}

h6{
    position: absolute;
    top: 145px;
    right: 270px;
    font-size: 1.9em;
    color: #fff;
    font-weight: lighter;
}

#logo-1{
    position: relative;
    color: #fff;
    right: 340px;
    top: 20px;
}
#logo-2{
    position: relative;
    color: #fff;
    left: 0px;
    top: 210px;
}